Specialist Coordinator Agent.json
{
  "name": "Specialist Coordinator Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/find-specialist",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "07b3eee7-25ec-40d8-928d-bff71dbb3028",
      "name": "Webhook",
      "webhookId": "759fd851-8710-457e-a0b8-295ef15d0f55"
    },
    {
      "parameters": {
        "jsCode": "const conditions = $json.body?.conditions || [];\nif (!Array.isArray(conditions) || conditions.length === 0) {\n  throw new Error('Missing or invalid conditions list');\n}\nreturn conditions.map(cond => ({ json: { condition: cond } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "631eb268-bc7f-4713-9c00-1273d3c9ccbf",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given the medical condition: {{$json.condition}}, recommend:\n- A specialist type the patient should see.\n- Three hospitals in the UAE for this specialist.\n- The average expected wait time (in days).\n\nYou MUST respond with STRICT JSON using this schema and NOTHING ELSE:\n{\n  \"specialist_type\": \"string\",\n  \"recommended_hospitals\": [\"string\", \"string\", \"string\"],\n  \"expected_wait_time_days\": number\n}\n\nIMPORTANT: DO NOT include any explanations, introductions, or comments. Respond only with the JSON object above. The first character in your output must be '{'.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        432,
        0
      ],
      "id": "6a09655e-f82f-45a4-977c-c1b3ac4734eb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        640,
        240
      ],
      "id": "22529f5c-063e-459a-9996-07b5350df9b7",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "y1K6muZNnXxmNNYJ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"response\"] || $json[\"text\"] || \"\";\nlet res;\ntry {\n  res = typeof raw === \"string\" ? JSON.parse(raw) : raw;\n} catch (e) {\n  throw new Error(\"Unable to parse model's response as JSON\");\n}\nreturn [{\n  json: {\n    condition: $json.condition,\n    specialist_type: res.specialist_type || \"\",\n    hospitals: res.recommended_hospitals || [],\n    expected_wait_time_days: res.expected_wait_time_days || \"\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "dd915d83-c998-4f8b-bf98-4d733a87745f",
      "name": "Parse Specialist Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        0
      ],
      "id": "ea52ce9f-651b-4290-80d9-7857ac361c98",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse Specialist Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Specialist Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66bc2159-64f7-441f-b547-52088675b734",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "500529db4afc87d64dfabdf7f3aba298af345b563438b16bd1de9e9285caddb6"
  },
  "id": "xHh3kZzgNM0uVPHc",
  "tags": []
}